#
# Modules
#

# Sets sane Zsh built-in environment options.
zmodule environment
# Applies correct bindkeys for input events.
zmodule input
# Utility aliases and functions. Adds colour to ls, grep and less.
zmodule utility

#
# Modules that must be initialized last
#

# Fish-like syntax highlighting for Zsh.
zmodule zsh-users/zsh-syntax-highlighting
# exa config
zmodule exa
zmodule fzf
