name: Ubuntu

on:
  push:

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install yadm and clone dotfiles
        run: |
          mkdir -p "$HOME/bin"
          curl -fsSL https://github.com/yadm-dev/yadm/raw/master/yadm -o "$HOME/bin/yadm"
          chmod +x "$HOME/bin/yadm"
          export PATH="$HOME/bin:$PATH"
          yadm clone https://github.com/kyooo8/dotfiles.git
          yadm bootstrap

      - name: Check Neovim setup
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          nvim -E -s <<'EOF'
          :source $HOME/.config/nvim/init.lua
          nvim --headless "+Lazy! sync" "+Lazy! health" +qa
